//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================
$primary: #f4cf41;
$secondary: #55705d;
$third: #558662;
$fourt: #fff;